:is(article, section) {
  grid-column: content;

  :is(h1, h2, h3, h4, h5, h6) {
    margin-block: var(--space--002);
  }

  :is(blockquote) {
    margin-block-end: var(--space--gap-alt);
  }

  :is(p:not(:last-child)) {
    margin-block-end: var(--space--gap-alt);
  }

  :is(ul) {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xs);
    margin-block-start: 0;
  }

  :is(section) {
    grid-template-columns: subgrid;
  }

  :is(.content-footer) {
    grid-row: 1 / 2;

    ul {
      margin-inline-start: 0;
    }
  }

  > * {
    grid-column: auto;
  }
}
