# Font Awesome Icons
assets/images/Font-Awesome/

# Library: Node Modules
node_modules/

# Tools: NPM
package-lock.json

# Ignore IDE and Editor files
# .vscode/
.idea/

# Ignore .temp & .cache folders
.cache/
.temp/
source/01-atoms/icon