:is(.site-header) {
  .page-navigation--menu-button,
  .page-navigation--menu-icon {
    display: block;
  }

  > * {
    background-blend-mode: normal;
  }

  @media (--breakpoint-tablet) {
    .page-navigation--menu-button,
    .page-navigation--menu-icon {
      display: none;
    }
  }
}

:is(.site-main) {
  :is(.region) {
    grid-template-columns: subgrid;
    grid-column: content;

    > * {
      grid-template-columns: subgrid;
      grid-column: content;
    }
  }
}

:is(.site-header, .site-footer) {
  :is(.region) {
    a:not(.brand-item) {
      padding-inline: var(--space--gap);
    }
  }
}
