:is(.off-canvas) {
  form {
    gap: var(--space--gap);
    grid-column: content;
    grid-auto-rows: max-content;
  }

  button,
  input,
  select,
  textarea {
    color: var(--color-dark--004);
    margin: 0;
    padding: var(--padding-default);
    border: var(--border-size) solid var(--color-light--005);
    border-radius: var(--border-radius--default);
    field-sizing: content;
    font-family: var(--inherit);
    font-size: var(--inherit);

    &:focus,
    &:focus-visible,
    &:focus-within {
      outline: var(--border-size);
      color: var(--color-dark--001);
      border-color: var(--color-dark--001);
      border-radius: var(--border-radius--default);
    }
  }

  button,
  input,
  select {
    min-inline-size: 0;
    max-inline-size: 100%;
  }

  input,
  textarea {
    background-color: var(--color-light--002);

    &:focus,
    &:focus-visible,
    &:focus-within {
      &::placeholder {
        color: transparent;
      }
    }
  }

  button,
  :is(.button) {
    background-color: var(--color-light--001);
    cursor: pointer;

    &:hover {
      background-color: var(--color-light--002);
      border-color: var(--color-dark--001);
      color: var(--color-dark--001);
    }
  }

  select {
    background-color: var(--color-light--002);
  }

  textarea {
    min-block-size: 10rem;
  }

  :is(.form-item) {
    display: flex;
    flex-direction: column;
    gap: var(--space)
  }

}
