:is(.gin--core-navigation) {
  .off-canvas {
    block-size: calc(100dvb - var(--toolbars-height));
    min-block-size: calc(100dvb - var(--toolbars-height));

    @media (--breakpoint-desktop) {
      block-size: calc(100dvb - var(--top-bar-height));
      min-block-size: calc(100dvb - var(--top-bar-height));
    }
  }
}

:is(.off-canvas) {
  overflow: clip;

  > * {
    grid-column: page;
  }

  header,
  main,
  footer {
    grid-template-columns: subgrid;
  }

  header {
    grid-row: header;

    :is(.block-system) {
      align-items: center;
      min-block-size: 100%;
    }

    @media (width < 1885px) {
      grid-template-columns: auto 1fr auto;
    }
  }

  main {
    grid-row: main;

    > * {
      display: grid;
      grid-column: content;
      grid-template-columns: subgrid;

      > * {
        grid-column: content;
      }
    }
  }

  footer {
    grid-row: footer;
  }

}
