/* stylelint-disable-next-line selector-class-pattern */
:is(.permission_navigation) {
  .off-canvas {
    block-size: calc(100dvb - var(--toolbars-height));
    min-block-size: calc(100dvb - var(--toolbars-height));

    @media (--breakpoint-desktop) {
      block-size: calc(100dvb - var(--top-bar-height));
      min-block-size: calc(100dvb - var(--top-bar-height));
    }
  }
}

:is(.off-canvas) {
  overflow: clip;

  > * {
    grid-column: page;
  }

  header,
  main,
  footer {
    grid-template-columns: subgrid;

    > * {
      display: grid;
      grid-template-columns: subgrid;
    }
  }

  main,
  footer {
    --padding-block: var(--space--gap);

    padding-block: var(--padding-block);

    > * {
      grid-column: content;

      > * {
        grid-column: content;
      }
    }
  }

  header {
    min-block-size: var(--item-height);
    grid-row: header;
    gap: var(--space--gap);

    :is(.region) {
      > * {
        display: flex;
        align-items: center;
        min-block-size: 100%;
      }

      :is(.nav-link) {
        display: grid;
        place-items: center;
        min-block-size: var(--item-height);
      }
    }

    @media (width < 1885px) {
      grid-template-columns: auto 1fr auto;
    }
  }

  main {
    grid-row: main;
  }

  footer {
    grid-row: footer;

    :is(.block-system) {
      align-content: center;
    }
  }
}
