@layer reset {
  html {
    interpolate-size: allow-keywords;
    font-family: var(--font-stack--base, system-ui);
    line-height: 1.6;
    accent-color: var(--default-accent);
    block-size: 100%;
    text-size-adjust: none;
    scroll-padding-block: 5lh;

    @media(prefers-reduced-motion:no-preference) {
      scroll-behavior:smooth}
  }

  body {
    margin: 0;
    min-block-size: 100svh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: var(--font-stack--base);
    background: var(--default-color-bg);
    color: var(--default-color-text);
    font-size: var(--font-size-0);
    line-height: 1.6
  }

  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin-block: 0
  }

  h1,
  h2,
  h3,h4 {
    text-wrap: balance
  }

  h1,
  h2 {
    font-weight: 900
  }

  h1 {
    font-size: var(--font-size-5);
    font-weight: 900;
    position: relative
  }

  h1+p,.hero h1~p {
    font-size: var(--font-size-2)
  }

  .hero h1~p:last-of-type {
    margin-block-end:var(--spacing-2xl)
  }

  h2 {
    font-size: var(--font-size-3)
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1
  }

  img,
  picture,
  iframe {
    max-inline-size: 100%;
    display: block;
    height: auto
  }

  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit
  }

  textarea {
    min-block-size: 5lh
  }

  a:not([class]) {
    color:var(--link);
    text-underline-offset: .25ex;
    text-decoration-thickness: 0;
    transition: .2s ease-in-out;

    &:hover,&:focus-visible {
      text-decoration-color: var(--link);
      text-decoration-thickness: .25ex;
      text-underline-offset: .5ex;
    }
  }

  ::selection {
    background: hsl(from var(--default-accent) h s l / .5)
  }

  ::marker {
    color: var(--default-accent)
  }
}
