:is(.off-canvas) {
  a {
    color: var(--color-dark--004);
    text-decoration-style: dashed;
    text-decoration-thickness: var(--space);
    text-decoration-color: var(--color-dark--004);
    text-underline-offset: var(--space);

    &:hover {
      color: var(--color-dark--001);
    }
  }

  header,
  footer {
    :is(a, .nav-link):not(.brand-item__logo, .brand-item__name, .brand-item__slogan) {
      text-transform: lowercase;
      padding-inline: var(--space--gap);
    }
  }
}
