html,
body {
  font-family: var(--font-stack--base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: var(--font-stack--slab);
}

h1,
.heading-1 {
  font-size: clamp(1.75rem, 4vi, 2.125rem);
}

h2,
.heading-2 {
  font-size: clamp(1.5rem, 3.5vi, 1.875rem);
}

h3,
.heading-3 {
  font-size: clamp(1.25rem, 3vi, 1.5rem);
}

h4,
.heading-4 {
  font-size: clamp(1.125rem, 2.5vi, 1.25rem);
}

h5,
.heading-5 {
  font-size: clamp(1rem, 2vi, 1.125rem);
}

h6,
.heading-6 {
  font-size: clamp(0.875rem, 1.5vi, 1rem);
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}
