html,
body {
  font-family: var(--font-stack--default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: var(--font-stack--slab);
}

h1,
.heading-1 {
  font-size: var(--font-size-base--006);

  &.page-title {
    font-size: var(--font-size-003);
  }
}

h2,
.heading-2 {
  font-size: var(--font-size--base--005);
}

h3,
.heading-3 {
  font-size: var(--font-size--base--004);
}

h4,
.heading-4 {
  font-size: var(--font-size--base--003);
}

h5,
.heading-5 {
  font-size: var(--font-size--base--002);
}

h6,
.heading-6 {
  font-size: var(--font-size--base--001);
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}
