.block-system-menu-blocksocial-menu {
  & > h2 {
    display: none;
  }

  ul.menu {
    display: flex;
    gap: 6px !important;

    li {
      a {
        display: block;
        overflow: hidden;
        width: 26px;
        height: 26px;
        white-space: nowrap;
        text-indent: 800px;
        border-radius: 100%;
        background-color: #009cde;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 26px 26px;

        &[href*='facebook'] {
          background-image: url('images/facebook.svg');
        }

        &[href*='linkedin'] {
          background-image: url('images/linkedin.svg');
        }

        &[href*='instagram'] {
          background-image: url('images/instagram.svg');
        }

        &[href*='rss'] {
          background-image: url('images/rss.svg');
        }
      }
    }
  }
}
