.section-grid {
  display: flex;
  flex-direction: column;
  container-type: inline-size;
  gap: 3.75rem;
}
.section-grid .section-main {
  display: grid;
  gap: 3.75rem;
}
.section-grid .cols-100 {
  grid-template-columns: 1fr;
}
@container (width > 500px) {
  .section-grid .cols-50-50 {
    grid-template-columns: 1fr 1fr;
  }
}
@container (width > 750px) {
  .section-grid .cols-33-33-33 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .section-grid .cols-75-25 {
    grid-template-columns: 3fr 1fr;
  }
  .section-grid .cols-25-75 {
    grid-template-columns: 1fr 3fr;
  }
  .section-grid .cols-67-33 {
    grid-template-columns: 2fr 1fr;
  }
  .section-grid .cols-33-67 {
    grid-template-columns: 1fr 2fr;
  }
}
@container (width > 1000px) {
  .section-grid .cols-50-25-25 {
    grid-template-columns: 2fr 1fr 1fr;
  }
  .section-grid .cols-25-25-50 {
    grid-template-columns: 1fr 1fr 2fr;
  }
  .section-grid .cols-25-25-25-25 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
