.grid-global,
.grid-wrapper--min,
.grid-wrapper--max {
  /* Layout variables - easier to customize */
  --gutter-mobile: 1.5rem;
  --gutter-tablet: 2.5rem;
  --gutter-desktop: 3.5rem;
  --gutter: var(--gutter-mobile);

  @media screen and (width > 786px) {
    --gutter: var(--gutter-tablet);
  }

  @media screen and (width > 1023px) {
    --gutter: var(--gutter-desktop);
  }
}

.grid-global {
  /* Prevent overflow on all screen sizes */
  max-inline-size: 100vi;
  overflow-inline: hidden;

  /* Content width constraints */
  --inner-max-width: 100%;

  /* Base grid setup with advanced layout as default */
  min-block-size: 100dvb;
  grid-template:
      "header" auto
      "main" 1fr
      "footer" auto /
      [page-start]
        minmax(var(--gutter), 1fr)
      [inner-start]
        minmax(0, var(--inner-max-width))
      [inner-end]
        minmax(var(--gutter), 1fr)
      [page-end];
}

.grid-wrapper--min,
.grid-wrapper--max {
  --content-max-width: 85rem;
  --wrapper-max-width: 75.75rem;

  /* Calculated sizes for responsive behavior */
  --content-size: calc((var(--content-max-width) - var(--wrapper-max-width)) / 2);
}

.grid-wrapper--min {
  grid-template-columns:
    [page-start]
      minmax(var(--gutter), 1fr)
    [content-start]
      minmax(0, var(--content-size))
    [wrapper-start]
      minmax(0, var(--wrapper-max-width))
    [wrapper-end]
      minmax(0, var(--content-size))
    [content-end]
      minmax(var(--gutter), 1fr)
    [page-end];
}

.grid-wrapper--max {
  --narrow-max-width: 42.875rem;


  /* Calculated size for wrapper */
  --wrapper-size: calc((var(--wrapper-max-width) - var(--narrow-max-width)) / 2);

  grid-template-columns:
    [page-start]
      minmax(var(--gutter), 1fr)
    [content-start]
      minmax(0, var(--content-size))
    [wrapper-start]
      minmax(0, var(--wrapper-size))
    [narrow-start]
      minmax(0, var(--narrow-max-width))
    [narrow-end]
      minmax(0, var(--wrapper-size))
    [wrapper-end]
      minmax(0, var(--content-size))
    [content-end]
      minmax(var(--gutter), 1fr)
    [page-end];
}
