.view-intro {
  .node--type-intro {
    position: relative;
    overflow: hidden;
    height: 500px;

    picture {
      overflow: hidden;
      height: 500px;
      width: 100%;
      position: absolute;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 100%;
        display: block;
      }
    }

    .container {
      height: 500px;
    }

    h2.title {
      position: relative;
      top: 50px;
      margin: 100px 0 10px 0;
      padding: 0;
      transition: all 1s;
      transition-delay: 0.2s;
      text-align: left !important;
      letter-spacing: 0;
      opacity: 0;
      color: $white;
      font-size: 60px;
      font-weight: 600;
      line-height: 110%;

      @media (max-width: $screen-sm-max) {
        font-size: 30px;
      }
    }

    .field--name-field-intro-text {
      margin-bottom: 0;

      p {
        position: relative;
        top: 40px;
        margin: 15px 0 0 0 !important;
        padding: 0;
        transition: all 0.5s;
        transition-delay: 0.5s;
        text-align: left !important;
        letter-spacing: 0.015em;
        text-transform: none;
        opacity: 0;
        color: $white;
        font-size: 28px;
        font-weight: 400;
        line-height: 130%;

        @media (max-width: $screen-sm-max) {
          font-size: 18px;
        }
      }
    }

    // link
    .field--name-field-intro-link {
      padding-top: 5px;

      a {
        position: relative;
        top: 30px;
        display: inline-block;
        margin-top: 20px;
        padding: 15px 25px;
        transition: all 0.5s;
        transition-delay: 0.8s;
        opacity: 0;
        color: $white;
        background-color: $primary;

        @media (max-width: $screen-sm-max) {
          padding: 8px 16px;
          text-decoration: none;
          font-size: 16px;
        }
      }
    }

    @media (max-width: $screen-sm-max) {
      top: auto;
      bottom: 90px;
    }

    @media (max-width: $screen-md-max) {
      margin-top: 40px;

      h2.title {
        font-size: 35px;
      }

      .field--name-field-intro-text {
        p {
          font-size: 20px;
        }
      }
    }

  }
}

// active
.view-intro {
  .tns-slide-active .node--type-intro h2.title {
    top: 0;
    opacity: 1;
  }

  .tns-slide-active .node--type-intro .field--name-field-intro-text p {
    top: 0;
    opacity: 1;
  }

  .tns-slide-active .node--type-intro .field--name-field-intro-link a {
    top: 0;
    opacity: 1;
  }
}
