:root {
  --height: max(var(--height--min), var(--height--max));
  --height--min: 1.5rem;
  --height--max: 4rem;
  --item-height: max(var(--item-height--min), var(--item-height--max));
  --item-height--min: 2rem;
  --item-height--max: 4rem;
  --dot-height: max(var(--dot-height--min), var(--dot-height--max));
  --dot-height--min: 0.2rem;
  --dot-height--max: 0.25rem;

  /* Page Title Sizes */
  --page-title-size: clamp(2rem, 5vi, 3.5rem);
  --page-title-sub-size: clamp(0.75rem, 1.5vi, 1.125rem);
}
