:is(.feed-icon) {
  --item-height: 1.5rem;
  --padding-default: 0.25rem;

  display: grid;
  align-items: center;
  max-block-size: calc(var(--item-height) + var(--padding-default) * 2);
  max-inline-size: calc(var(--item-height) + var(--padding-default) * 2);
  overflow: clip;

  svg {
    --default-accent: var(--color-orange--001);
    --default-color-bg: var(--default-accent);
    --default-color-text: var(--color-light--001);
    --item-height: 1.25rem;


    background: var(--default-color-bg);
    color: var(--default-color-text);
    padding: var(--padding-default);
    block-size: var(--item-height);
    inline-size: var(--item-height);

    &:hover {
      background: var(--color-orange--005);
    }
  }
}
