{% block header %}

  <header role="banner" class="grid site-header">

    {% if page.branding or page.navigation or page.focus or page.header %}

      {% block branding %}
        {{ page.branding }}
      {% endblock %}

      {% block navigation %}
        {% if page.navigation or page.focus %}
          <input class="page-navigation--menu-button" id="page-navigation--menu-button" type="checkbox" aria-hidden="true" tabindex="-1" />
          <label class="page-navigation--menu-icon" for="page-navigation--menu-button" role="button" aria-controls="page-navigation" aria-label="{{ 'Toggle navigation'|t }}">
            <span class="page-navigation--menu-middle" aria-hidden="true"></span>
          </label>
          <div class="page-navigation">
            {% if page.navigation %}
              {% include '@molecules/page_navigation/page-navigation.html.twig' %}
            {% endif %}
            {% if page.focus %}
              {% include '@molecules/page_navigation/variants/page-navigation--focus.html.twig' %}
            {% endif %}
          </div>
        {% endif %}
      {% endblock %}

    {% endif %}

  </header>

{% endblock %}
