@import "./variables/breakpoints.css";
@import "./variables/colors.css";
@import "./variables/fonts.css";
@import "./variables/sizes.css";
@import "./variables/spacing.css";

/* default variables */
:root {
  --default-accent: var(--color-blue--001);
  --default-accent--alternate: var(--color-blue--005);
  --default-color-bg: var(--color-light--001);
  --default-color-text: var(--color-dark--001);
  --inherit: var(--inherit);
  --border-size: 2px;
  --border-radius--default: 0;
  --border-radius--alternate: 3px;
  --top-bar-height: 54px;
  --toolbar-height: 49px;
  --toolbars-height: calc(var(--top-bar-height) + var(--toolbar-height));
}
