@import "./variables/colors.css";
@import "./variables/fonts.css";
@import "./variables/sizes.css";
@import "./variables/spacing.css";

/* default variables */
:root {
  --link: inherit;
  --page-title-size: 3.815em;
  --default-accent: var(--color-blue--001);
  --default-color-bg: var(--color-light--001);
  --default-color-text: var(--color-dark--001);
  --border-size: 2px;
  --border-radius: 3px;
  --top-bar-height: 54px;
  --toolbar-height: 49px;
  --toolbars-height: calc(var(--top-bar-height) + var(--toolbar-height));
}
