.sdc-title h1,
.sdc-title h2 {
  margin: 0 0 0.3125rem 0;
  padding: 0;
}
.sdc-title .size-100 {
  font-size: 2.125rem;
}
.sdc-title .size-125 {
  font-size: 2.65625rem;
}
.sdc-title .size-150 {
  font-size: 3.1875rem;
}
.sdc-title .size-175 {
  font-size: 3.71875rem;
}
.sdc-title .size-200 {
  font-size: 4.25rem;
}
.sdc-title .size-225 {
  font-size: 4.78125rem;
}
.sdc-title .size-250 {
  font-size: 5.3125rem;
}
.sdc-title .size-275 {
  font-size: 5.84375rem;
}
.sdc-title .size-300 {
  font-size: 6.375rem;
}
