.block-system-menu-blocksocial-menu > h2 {
  display: none;
}
.block-system-menu-blocksocial-menu ul.menu {
  display: flex;
  gap: 0.375rem !important;
}
.block-system-menu-blocksocial-menu ul.menu li a {
  display: block;
  overflow: hidden;
  width: 1.625rem;
  height: 1.625rem;
  white-space: nowrap;
  text-indent: 50rem;
  border-radius: 100%;
  background-color: #009cde;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1.625rem 1.625rem;
}
.block-system-menu-blocksocial-menu ul.menu li a[href*='facebook'] {
  background-image: url('images/facebook.svg');
}
.block-system-menu-blocksocial-menu ul.menu li a[href*='linkedin'] {
  background-image: url('images/linkedin.svg');
}
.block-system-menu-blocksocial-menu ul.menu li a[href*='instagram'] {
  background-image: url('images/instagram.svg');
}
.block-system-menu-blocksocial-menu ul.menu li a[href*='rss'] {
  background-image: url('images/rss.svg');
}
